
<div class="navbar">
    <select class="team-dropdown" (change)="getDesignation($event)">
        <option value="" selected>Choose Team</option>
        <option value="Software Developer">Software Developer</option>
        <option value="Senior Software Developer">Senior Software Developer</option>
        <option value="Quality Assurance">Quality Assurance</option>
        <option value="Technical Lead">Technical Lead</option>
        <option value="Manager">Manager</option>
    </select>
</div>